catboost==1.2.7
findspark==2.0.1
geopandas==1.0.1
ipython==8.12.3
joblib==1.4.2
lightgbm==4.6.0
matplotlib==3.10.3
msgpack_python==0.5.6
networkx==3.4.2
numpy==2.2.6
pandas==2.2.3
Pillow==11.2.1
protobuf==6.31.0
pyspark==3.5.5
pytorch_lightning==2.0.6
pyvis==0.3.2
PyYAML==6.0
PyYAML==6.0.2
s2sphere==0.2.5
scikit_learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
shap==0.47.1
Shapely==2.1.1
tensorflow==2.18.0
tensorflow_addons==0.23.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
xgboost==3.0.2
